.page-header {
    padding-top: 2.28%;
}

.btn-xl {
    width: 100px;
    height: 100px;
    line-height: 3.333;
    font-size: 25px;
    color: black;
}

.jc-center {
    justify-content: center;
}

.custom-card {
    min-width: 100%;
    height: 290px
}

.custom-card-content {
    padding: 15px;
    border-radius: 5px;
    margin: 18px -18px -18px -18px;
    min-height: 60%;
}

.ta-center {
    text-align: center;
}

.font-xx-large {
    color: black;
    font-size: xx-large;
}

.font-small {
    color: black;
    font-size: small;
}

.close {
    font-size: 2.25003rem;
}

a.waves-effect, a.waves-light {
    display: inline-block;
}

.flex-center {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
}

.margin-left-10 {
    margin-left: 10px;
}

.css-1oubc3t{
    background-clip: border-box !important;
    border-width: 1px 0 !important;
    border-top-color: transparent!important;
}

.cursor {
    cursor: pointer;
}

body {
    background-color: white;
}
