.page-header {
    padding-top: 2.28%;
}

.btn-xl {
    width: 100px;
    height: 100px;
    line-height: 3.333;
    font-size: 25px;
    color: black;
}

.jc-center {
    justify-content: center;
}

.custom-card {
    min-width: 100%;
    height: 290px;
}

.custom-card-content {
    padding: 15px;
    border-radius: 5px;
    margin: 18px -18px -18px -18px;
    min-height: 60%;
}

.ta-center {
    text-align: center;
}

.font-xx-large {
    color: black;
    font-size: xx-large;
}

.font-small {
    color: black;
    font-size: small;
}

.close {
    font-size: 2.25003rem;
}

a.waves-effect,
a.waves-light {
    display: inline-block;
}

.flex-center {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
}

.margin-left-10 {
    margin-left: 10px;
}

.margin-bottom-5 {
    margin-bottom: 5px;
}

.css-1oubc3t {
    background-clip: border-box !important;
    border-width: 1px 0 !important;
    border-top-color: transparent !important;
}

.cursor {
    cursor: pointer;
}

body {
    background-color: white;
}

.sort-icon:after {
    float: right;
    color: hsl(20, 0%, 70%);
    display: block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.sort-icon.sort-ascending:after {
    content: '\f0de';
}

.sort-icon.sort-descending:after {
    content: '\f0dd';
}

.sort-icon.sort-none:after {
    content: '\f0dc';
}

.icon-trash-center {
    text-align: center;
    line-height: 35px;
}

.thead-pagination {
    background-color: rgba(0,0,0,.2);
}

.striped-sku-children-list {
    background-color: #eeeeee;
}

.cancelReason {
    right: 0;
    min-width: 350px;
    padding: 10px;
    position: absolute;
    top: 100%;
    z-index: 1000;
    display: none;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.display-block {
    display: block;
}

.login-error-message {
    padding: 0 3.75rem;
    text-align: center;
    color: red;
}

.height-100 {
    height: 100px;
}

.width-75 {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.progress {
    height: 1rem;
    margin-bottom: 0.125rem;
    flex-grow: 1;
}

.progress-container {
    display: flex;
    position: relative;
}

.progress-label {
    color: white;
    font-weight: bold;
    position: absolute;
    right: -30px;
    bottom: 0;
}

.progress-id {
    color: white;
    font-weight: bold;
    position: absolute;
    left: -20px;
    bottom: 0;
}

.card-body {
    border-radius: 5px;
}
